.pac_drh_desktop_col_four .et_pb_salvattore_content,
.pac_drh_desktop_col_two .et_pb_salvattore_content,
.pac_drh_desktop_col_one .et_pb_salvattore_content,
.pac_drh_tab_col_four .et_pb_salvattore_content,
.pac_drh_tab_col_three .et_pb_salvattore_content,
.pac_drh_tab_col_one .et_pb_salvattore_content,
.pac_drh_ph_col_four .et_pb_salvattore_content,
.pac_drh_ph_col_three .et_pb_salvattore_content,
.pac_drh_ph_col_two .et_pb_salvattore_content {
    display: flex !important;
    flex-wrap: wrap !important;
}

.pac_drh_desktop_col_four .et_pb_blog_grid,
.pac_drh_desktop_col_two .et_pb_blog_grid,
.pac_drh_desktop_col_one .et_pb_blog_grid,
.pac_drh_tab_col_four .et_pb_blog_grid,
.pac_drh_tab_col_three .et_pb_blog_grid,
.pac_drh_tab_col_one .et_pb_blog_grid,
.pac_drh_ph_col_four .et_pb_blog_grid,
.pac_drh_ph_col_three .et_pb_blog_grid,
.pac_drh_ph_col_two .et_pb_blog_grid {
    max-width: 100%;
}

.pac_drh_desktop_col_four .et_pb_salvattore_content .column,
.pac_drh_desktop_col_two .et_pb_salvattore_content .column,
.pac_drh_desktop_col_one .et_pb_salvattore_content .column,
.pac_drh_tab_col_four .et_pb_salvattore_content .column,
.pac_drh_tab_col_three .et_pb_salvattore_content .column,
.pac_drh_tab_col_one .et_pb_salvattore_content .column,
.pac_drh_ph_col_four .et_pb_salvattore_content .column,
.pac_drh_ph_col_three .et_pb_salvattore_content .column,
.pac_drh_ph_col_two .et_pb_salvattore_content .column {
    flex-basis: 10%;
    flex-grow: 1 !important;
    min-width: 10%;
}

@media (min-width: 980px) {
    /* CSS for Desktop */
    .pac_drh_desktop_col_four .et_pb_salvattore_content[data-columns]::before {
        content: '4 .column.size-1of3' !important;
    }

    .et_pb_gutters4 > div.et_pb_column .pac_drh_desktop_col_four .column.size-1of3:nth-child(3n) {
        margin-right: 8% !important;
    }

    .et_pb_gutters3 div.et_pb_column .pac_drh_desktop_col_four .column.size-1of3:nth-child(3n) {
        margin-right: 5.5% !important;
    }

    .et_pb_gutters2 div.et_pb_column .pac_drh_desktop_col_four .column.size-1of3:nth-child(3n) {
        margin-right: 3% !important;
    }

    .et_pb_gutters1 div.et_pb_column .pac_drh_desktop_col_four .column.size-1of3:nth-child(3n) {
        margin-right: 0 !important;
    }

    .pac_drh_desktop_col_four .column.size-1of3:nth-child(4n) {
        margin-right: 0 !important;
    }

    .pac_drh_desktop_col_four .column.size-1of3:nth-child(4n) {
        margin-right: 0 !important;
    }

    /* 3 col is default for desktop */
    /* 2 col*/
    .pac_drh_desktop_col_two .et_pb_salvattore_content[data-columns]::before {
        content: '2 .column.size-1of3' !important;
    }

    .pac_drh_desktop_col_two .column.size-1of3:nth-child(2n) {
        margin-right: 0 !important;
    }

    /* one col */
    .pac_drh_desktop_col_one .et_pb_salvattore_content[data-columns]::before {
        content: '1 .column.size-1of1' !important;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    /* col 4 */
    .pac_drh_tab_col_four .et_pb_salvattore_content[data-columns]::before {
        content: '4 .column.size-1of2' !important;
    }

    .pac_drh_tab_col_four .column.size-1of2 {
        margin-right: 5.5% !important;
    }

    .pac_drh_tab_col_four .column.size-1of2:nth-child(4n) {
        margin-right: 0 !important;
    }

    .et_pb_row.et_pb_gutters1 .pac_drh_tab_col_four .column.size-1of2 {
        margin-right: 0 !important;
    }

    /* col 3*/
    .pac_drh_tab_col_three .et_pb_salvattore_content[data-columns]::before {
        content: '3 .column.size-1of2' !important;
    }

    .pac_drh_tab_col_three .column.size-1of2 {
        margin-right: 5.5% !important;
    }

    .pac_drh_tab_col_three .column.size-1of2:nth-child(3n) {
        margin-right: 0 !important;
    }

    .et_pb_row.et_pb_gutters1 .pac_drh_tab_col_three .column.size-1of2 {
        margin-right: 0 !important;
    }

    /* 2 col is default for tablet */
    /* col 1 */
    .pac_drh_tab_col_one .et_pb_salvattore_content[data-columns]::before {
        content: '1 .column.size-1of1' !important;
    }
}

@media (max-width: 767px) and (min-width: 0px) {
    /* col 4 */
    .pac_drh_ph_col_four .et_pb_salvattore_content[data-columns]::before {
        content: '4 .column.size-1of2' !important;
    }

    .pac_drh_ph_col_four .column.size-1of2 {
        margin-right: 1% !important;
    }

    .pac_drh_ph_col_four .column.size-1of2:nth-child(4n) {
        margin-right: 0 !important;
    }

    .et_pb_row.et_pb_gutters1 .pac_drh_ph_col_four .column.size-1of2 {
        margin-right: 0 !important;
    }

    /* col 3 */
    .pac_drh_ph_col_three .et_pb_salvattore_content[data-columns]::before {
        content: '3 .column.size-1of2' !important;
    }

    .pac_drh_ph_col_three .column.size-1of2 {
        margin-right: 3% !important;
    }

    .pac_drh_ph_col_three .column.size-1of2:nth-child(3n) {
        margin-right: 0 !important;
    }

    .et_pb_row.et_pb_gutters1 .pac_drh_ph_col_three .column.size-1of2 {
        margin-right: 0 !important;
    }

    /* col 2 */
    .pac_drh_ph_col_two .et_pb_salvattore_content[data-columns]::before {
        content: '2 .column.size-1of2' !important;
    }

    .pac_drh_ph_col_two .column.size-1of2 {
        margin-right: 6% !important;
    }

    .pac_drh_ph_col_two .column.size-1of2:nth-child(2n) {
        margin-right: 0 !important;
    }

    .et_pb_row.et_pb_gutters1 .pac_drh_ph_col_two .column.size-1of2 {
        margin-right: 0 !important;
    }
}