.material-label-upload{
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	background: #ccc3;
	padding: 5px 10px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	color: #000;
	max-width: 88%;
}
.material-label-upload input[type="file"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.material-label-upload .icon{
	padding: 5px 20px;
	background: linear-gradient(to left, #A80061, #FF001C);
	color: #FFF;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	font-weight: bold;
	position: absolute;
	right: 0;
}
.material-icons-items ul{
	margin-top: 10px;
}
.material-icons-items ul li span{
	display: inline-block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.material-icons-items ul li, #modal-preview-images ul li{
	margin: 0 5px;
	margin-bottom: 10px;
	padding: 0;
	position: relative;
}
.material-icons-items ul li .material-icon-remove{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	background: #FFF;
	box-shadow: 0 0 3px 2px #eeb1b1;
	width: 10px;
	height: 10px;
	align-items: center;
	justify-content: center;
	display: none;
}
.material-icons-items ul li:hover .material-icon-remove{
	display: flex;
}
.material-icons-items ul li img, #modal-preview-images ul li img{
	display: block;
}

#modal-preview-images ul{
	text-align: center;
}
#modal-delete-image .modal-body{
	padding-top: 0;
	padding-bottom: 0;
}
.blockUI.blockMsg.blockElement{
	border-width: 0 !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.blockUI.blockOverlay{
	background-color: rgb(255, 255, 255) !important;
}
.material-icons-list{
	min-height: 50px;
}
.material-icons-list .blockUI.blockMsg.blockElement{
	height: 50px;
}
.gs-navigation{
	padding-left: 30px;
	padding-right: 30px;
}