.hg-100{
	height: 100% !important;
}
.pro-gallery-items .pro-gallery-item{
	margin-bottom: 10px;
}
.pro-gallery-items .pro-gallery-item img{
	border-radius: 13px;
	display: block;
}
.pro-gallery-items .pro-gallery-item a{
	display: block;
	position: relative;
}
.pro-gallery-items .pro-gallery-item a:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 9;
	border-radius: 13px;
	display: none;
}
.pro-gallery-items .pro-gallery-item a .prog-more{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	z-index: 18;
}
.pro-gallery-items .pro-gallery-item a .prog-more:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.5;
	border-radius: 13px;
	z-index: 19;
}
.pro-gallery-items .pro-gallery-item a .prog-more:after{
	content: attr(more);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 2rem;
	z-index: 20;
}
.pro-gallery-items .pro-gallery-item a:after{
	content: '';
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url("../images/icons/icon-eyes-g.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
	z-index: 10;
}
.pro-gallery-items .pro-gallery-item a:hover:before,
.pro-gallery-items .pro-gallery-item a:hover:after{
	display: block;
}
.lg-outer{
	z-index: 99999 !important;
}
.prod-reviews, .prod-save{
	display: inline-block;
}
.pro-reviews-value, .prod-save-title{
	color: #828282;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	padding-left: 0.5rem;
}
.prod-save-title{
	font-size: 16px;
}
.prod-title{
	font-weight: bold;
	font-size: 30px;
	line-height: 49px;
	color: #000000;
}
.wdt-pro-industrial-park{
	background: #D1FAE5;
	border-radius: 60px;
	padding: 10px 20px;
}
.wdt-pro-industrial-park span{
	font-weight: bold;
	font-size: 14px;
	color: #0E1735;
}
.wdt-product-price{
	font-weight: 600;
	font-size: 24px;
	color: #FC5431;
}
.wdpinfo-property-title{
	font-weight: 600;
	font-size: 30px;
	color: #000000;
}
.wdpinfo-author{
	width: 300px;
	padding: 10px 0;
	border: 1px solid #F2F2F2;
	border-radius: 4px;
}
.wdpinfo-author-group-icon-item{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	border-radius: 50%;
	margin-right: 6px;
	position: relative;
}
.wdpinfo-author-icon-message{
	background: #FFBB16;
	box-shadow: 0px 2px 0px 0px #CE960E;
}
.wdpinfo-author-icon-message .count-message{
	background: #FF1A1A;
	font-size: 10px;
	color: #FFFFFF;
	position: absolute;
	display: flex;
	width: 12px;
	height: 12px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	top: 3px;
	right: 3px;
}
.wdpinfo-book{
	background: #FFBB16;
	border-radius: 30px;
	padding: 8px 40px;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}
.wdpinfo-author-avatar a{
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.wdpinfo-author-full-name{
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	color: #333333;
}
.wdpinfo-author-join{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #BDBDBD;
}
.wdpinfo-author-contact-title{
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	color: #4F4F4F;
}
.postbox{
	border: 1px solid #ccd0d4;
	margin-bottom: 20px;
}
.postbox.closed .postbox-container{
	display: none;
}
.postbox.closed .postbox-header{
	border-bottom-width: 0;
}
.postbox-header {
	display: flex;
	align-items: center;
	padding: 10px;
	justify-content: space-between;
	border-bottom: 1px solid #ccd0d4;
}
.postbox-header .handlediv[aria-expanded="false"] .icon-chevron-down,
.postbox-header .handlediv[aria-expanded="true"] .icon-chevron-up{
	display: none;
}

.postbox-header .handle {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.postbox-header .handle-actions {
	flex-shrink: 0;
}
.postbox .inside{
	width: 100%;
	padding: 10px;
}
.postbox .postbox-footer{
	padding: 10px;
	border-top: 1px solid #ccd0d4;
}
.rep-pro-detail .select2-container .select2-selection--single{
	height: 30px;
}
.rep-pro-detail .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 30px;
}
.product-for-categories .product-thumbnail{
	height: 150px;
	overflow: hidden;
}
.pfc-product-item{
	margin-bottom: 20px;
}
.pcf-more{
	margin-top: 30px;
	text-align: center;
}
.pcf-more a{
	padding: 10px 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #FFBB16;
	background: #FFBB16;
	color: #FFF;
	font-weight: bold;
}
.page-pro-list .pro-item{
	margin-bottom: 20px;
	box-shadow: 1px 2px 3px 1px #eee;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow: hidden;
	background: #fff;
}
.page-pro-list .pro-item .pro-thumbnail a{
	height: 200px;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
.page-template-page_bf_product1 .blockUI.blockMsg.blockElement{
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	top: 0 !important;
	width: 100% !important;
}
.page-pro-list .blockUI.blockOverlay{
	background-color: #FFF !important;
	opacity: 1 !important;
}
.pro-search i.fas{
	position: relative;
	top: 0;
	right: 0;
}
.pro-search .view-mode{
	padding: 5px;
	background: #fff;
	color: #000;
	box-shadow: 0 1px 3px 1px #ccc;
	margin-right: 10px;
	display: flex;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.pro-search .view-mode.active{
	background: #222f6e;
	color: #FFF;
}
.pro-search-box{
	display: flex;
	width: 100%;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	box-shadow: 0 1px 3px 1px #ccc;
	padding: 5px 6px;
	background: #fff;
}
.pro-search-box .pro-search-keyword{
	border: 0;
}
.pro-search-box .pro-search-keyword:focus{
	box-shadow: none;
}
.pro-search-box #pro-search-action{
	background: linear-gradient(to right, #d92530, #bc1923);
	color: #FFF;
	border-radius: 30px;
	padding: 0.375rem 1.5rem;
	font-weight: bold;
}
.pro-item .pro-content{
	padding: 15px;
}
.pro-item .pro-title{
	font-weight: 700;
	font-size: 20px;
	color: #222f6e;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 15px;
	margin-bottom: 15px;
	display: block;
}
.pro-item .pro-apply{
	padding: 8px 20px;
	background: #ffd8df;
	font-weight: bold;
	border-radius: 30px;
}
.pro-action-apply-wrapper{
	min-width: 120px;
}
.pro-properties-items{
	min-width: calc(100% - 120px);
}
.pro-item .pro-group-title-apply .pro-title{
	border-bottom: 0;
	padding: 0;
}
.pro-item .pro-group-title-apply{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.page-pro-list .pro-item-mode-0 .pro-thumbnail a{
	height: 140px;
}
.pro-item-mode-0 .pro-content{
	width: 100%;
}
.paginationjs .paginationjs-pages, .paginationjs .paginationjs-pages ul,
.paginationjs .paginationjs-pages li{
	float: none;
}
.paginationjs{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.paginationjs .paginationjs-pages li{
	display: inline-block;
	border: 0 !important;
}
.paginationjs .paginationjs-pages ul li:not(:last-child){
	margin-right: 10px;
}
.paginationjs .paginationjs-pages li > a{
	border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	border: 1px solid #bb141a;
	color: #000;
	background: transparent;
	width: 40px !important;
	height: 40px !important;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
.paginationjs .paginationjs-pages li.active > a,
.paginationjs .paginationjs-pages li > a:hover{
	background: #bb141a;
	color: #FFF;
}
.paginationjs .paginationjs-pages .paginationjs-ellipsis.disabled > a{
	border-color: transparent;
}
.paginationjs .paginationjs-pages .paginationjs-ellipsis.disabled > a:hover{
	color: #000;
}
.rep-sav-sidebar{
	box-shadow: 0px 0px 4px 0px #ccc;
	margin-top: 0.25rem;
	padding: 20px 30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: #fff;
}

.rep-sav-sidebar .repss-item{
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.repss-item h3.font-weight-bold {
	color: #222F6E;
}
.rep-sav-sidebar .repss-item:not(:last-child){
	border-bottom: 1px solid #e8e8e8;
}
.apply-cv-wrapper * {
	font-family: Arial !important;
}
.apply-cv-wrapper .text-black{
	color: #000;
}
.apply-cv-wrapper h1{
	color: #222f6e;
	font-weight: bold;
	font-size: 40px;
}
.apply-cv-wrapper .material-label-upload{
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	background: #222f6e;
	padding: 5px 20px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	color: #FFF;
}
.apply-cv-wrapper .material-label-upload input[type="file"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.apply-cv-wrapper .btn-apply-action-add,
.apply-cv-wrapper .btn-apply-action-remove{
	border: 1px solid #ccc;
	padding: 5px 15px;
	color: #000;
}
#modal-confirm-delete-element .modal-body{
	display: none;
}
.apply-cv-wrapper input{
	color: #222f6e;
	font-weight: 500;
}
.apply-cv-wrapper input[type="email"]{
	padding: .375rem .75rem;
}
.apply-cv-wrapper .text-222f6e{
	color: #222f6e;
}
.apply-cv-wrapper .check-item span.text{
	color: #222f6e;
	font-weight: bold;
}
.apply-cv-wrapper form{
	max-width: 800px;
	margin: 50px auto;
	padding: 50px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px 0 #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.apply-cv-wrapper .backtojob{
	position: absolute;
	top: 0;
	left: 0;
	background: #bb141a;
	color: #FFF !important;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.apply-cv-wrapper .btn.btn-primary{
	background: #bb141a !important;
	font-weight: bold !important;
}
.apply-cv-wrapper input.error{
	border-color: #bb141a;
}
.apply-cv-wrapper em.error{
	margin-top: 5px;
	display: block;
}
.apply-cv-wrapper .line{
	border-top: 1px dashed #ccc;
}
.rep-widget-form-submit{
	display: inline-block;
}
.rep-widget-form-submit .keyword{
	max-width: 190px;
	height: 30px;
	border: 0;
}
.rep-widget-form-submit .keyword:focus{
	box-shadow: none;
}
.rep-widget-form-submit .form-group{
	width: auto !important;
}
.rep-widget-form-submit .form-group.w-100 .select2-container{
	width: 100% !important;
}
.rep-widget-form-submit .select2-container .select2-selection--single,
.rep-widget-form-submit .select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 30px;
}
.rep-widget-form-submit .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 30px;
}
.rep-widget-form-submit .select2-selection.select2-selection--single{
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
}
.rep-wfs-content{
	padding: 5px 10px;
	box-shadow: 1px 1px 3px #ccc;
	background: #fff;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.rep-widget-form-submit .filter-action button {
	background: linear-gradient(to right, #d92530, #bc1923);
	color: #FFF;
	border-radius: 30px;
	padding: 5px 10px;
	font-weight: bold;
}